.section {
  max-width: 120rem;
  font-family: "Jost", sans-serif;
  margin: 6rem auto;
  padding: 0 1.5rem;
}

.carousel-inner {
  padding: 0 2rem;
}

.carousel-inner,
.carousel-item {
  transition: all 0.4s;
}

.title-box {
  /* background-color: red; */
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 1.5em;
}

.my-card {
  min-width: 15rem;
  margin: 1em auto;
  /* box-shadow: 0 -6px 8px 0 rgba(22, 22, 26, 0.18); */
  text-align: center;
  color: #333;
  overflow: hidden;
  position: relative;
}

.img-wrapper {
  max-width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.my-card-img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 1em;
  transition: all 0.3s;
}

.my-card-img:hover {
  transform: scale(1.07);
}

.my-card-title {
  font-weight: 400;
  margin-bottom: 0.5em;
  transition: all 0.3s;
}
.my-card-title:hover {
  color: #ff2020;
  cursor: pointer;
}

.price {
  font-weight: 500;
  margin-bottom: 1em;
}

.price-before-discount {
  color: #74706b;
}

.price-after-discount {
  color: #cebd9c;
  text-decoration: line-through;
}

.carousel {
  position: relative;
}

.carousel-control-next,
.carousel-control-prev {
  width: 2.5rem !important;
  height: 2.5rem !important;
  position: absolute !important;
  border-radius: 50%;
  top: 50% !important;
  transform: translateY(-50%);
  background-color: #ff7979 !important;
  box-shadow: 0 0.3rem 0.7rem rgba(119, 119, 119, 0.5);
}

.carousel-control-prev {
  left: 0 !important;
  transform: translateX(-50%);
}
.carousel-control-next {
  right: 0 !important;
  transform: translateX(50%);
}

.card-icons {
  /* background-color: #ffe9e9; */
  display: inline-block;
}

.card-icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  transition: all 0.8s;
}

.card-icon:hover {
  background-color: #ff2020;
}

/************************/
/*    TESTIMONIALS      */
/************************/
.my-testimonials {
  font-family: "Jost", sans-serif;
  background-color: #f3ead8;
  padding: 4rem 2rem;
}

.my-testimonials h1 {
  text-align: center;
  margin-bottom: 4rem;
}

.testimonials-container {
  text-align: center;
  /* padding: 9.6rem; */
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6rem;
}

.testimoial img {
  width: 5rem;
  border-radius: 50%;
  /* display: block; */
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.1rem;
  color: #6f6f6f;
}

@media (max-width: 990px) {
  .my-card:first-child {
    display: none;
  }

  .testimonials {
    column-gap: 3rem;
  }
}

@media (max-width: 760px) {
  .my-card:nth-child(odd) {
    display: none;
  }
  .testimonials {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
  .testimoial {
    margin-bottom: 3rem;
  }

  .testimoial img {
    width: 4rem;
  }

  .my-testimonials {
    padding: 1rem 2rem;
  }
}

@media (max-width: 465px) {
  .my-card:not(:last-child) {
    display: none;
  }
  .testimonials {
    padding: 0 1rem;
  }
}
