footer{
        font-family: "Jost",sans-serif;
}
.footer-wrapper {
    background: #171613;
}

.footer-padding {
    padding-top: 63px;
    padding-bottom: 60px;
}
.contact-area .contact-padding {
    padding-bottom: 40px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.14);
}
.icon{
    margin: 10px;
    color: rgb(103, 127, 139);
    font-size: 25px;    
}
.contact-area .contact-caption h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 12px;
}


p {
    font-family: "Jost",sans-serif;
    color: #301A22;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.6;
}
form {
    display: block;
}
.contact-area .contact-caption form input {
    width: 74%;
    height: 60px;
    color: #000;
    background: #fff;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 15px 24px;
    font-size: 16px;
}
.contact-area .contact-caption form button.contact-btn {
    width: 24%;
    height: 60px;
    background: #FF2020;
    padding: 13px 24px;
    color: #fff;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 500;
}
a, button {
    color: #fff;
    outline: medium none;
}
a {
    color: #635c5c;
    text-decoration: none;
}
a, .button {
    transition: all .3s ease-out 0s;
}

ul{
    padding-left: 0px !important;
}

.footer-wrapper .footer-area .footer-tittle ul .nav-item{
    margin: 10px;
    list-style: none;
}

.footer-wrapper .footer-area .footer-tittle ul .nav-link {
    color: #BBB9B5;
    font-weight: 400;
    font-size: 25px;
    text-decoration: underline transparent;
}

.footer-bottom-area .footer-border {
    border-top: 1px solid rgba(255,255,255,0.14);
    padding-top: 39px;
    padding-bottom: 1px;
}
.footer-bottom-area .footer-copy-right p {
    color: #BBB9B5;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
}

.footer-bottom-area .footer-copy-right p .heart {
    color: #FF2020;
}
.footer-bottom-area .footer-copy-right p a {
    color: #FF2020;
}


.mb-50 {
    margin-bottom: 50px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-35 {
    margin-bottom: 35px;
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .footer-padding {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .contact-area .contact-caption h3 {
        padding: 0 0px;
    }
    .footer-social {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .footer-padding {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .footer-social {
        padding-top: 20px;
    }
}

@media (max-width: 575px){
    .footer-padding {
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .contact-area .contact-caption h3 {
        padding: 0 0px;
        font-size: 25px;
    }
    .contact-area .contact-caption form input {
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-area .contact-caption form button.contact-btn {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .footer-social {
        padding-top: 20px;
    }
    
.footer-wrapper .footer-area .footer-tittle ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

}