.header{
	text-align: center;
	background-color:beige;
	padding:20px;
	align-items:center;
}

.header a{ 
	color:black;
	align-items:center;text-align: center;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
	list-style: none;
	align-items:center;
	margin: 5px;
}
ol {
    list-style-type: decimal;
	display: flex;
	align-items:center;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.main_card {
	color: #fff;
	width: 1000px;
	height: 550px;
	margin: 50px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: red; 
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
	        box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.card_left {
	width: 200%;
}

.card_right img {
	height: 390px;
	width: 300px;
	margin: 30px;
	float: left;
}

.ptitle,.pprice,.prate,button {
	color: fff;
	margin-top: 25px;
	font-size: 30px;	
}
.ptitle,.pprice,.prate{
	font-weight: bold;
}

.disc {
	font-weight: 100;
	line-height: 27px;
}
a {
	color: darkcyan;
	display: block;
	text-decoration: none;
}
.social-btn {
	margin-left: -10px;
}

.fa-play-circle {
	color: #255;
	font-size: 160px;
	margin-top: 110px;
	-webkit-animation: bounce 1.0s -0.4s infinite;
	        animation: bounce 1.0s -0.4s infinite;
}

.fa-play-circle:hover {
	color: aqua;
	animation: bounce 0.4s infinite;
}
@-webkit-keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  10% {
    transform: scale(1.8);
    -webkit-transform: (scale2);
    opacity: 0;
		}
}

@keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  20% {
    transform: scale(1.8);
    -webkit-transform:(  scale2);
    opacity: 0;
		}
}

.Follow {	  
	background:url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
	width: 50px;
	height: 50px;
	bottom: 9px;
	right: 20px;
	display:block;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:  rotation 10s infinite linear;
	}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


.spinner-border{
	margin-top: 200px;
	color: #92FE9D;
	
}

button{
	background-color:white;
	color:black;
	padding:20px;
	font-size: 20px;
	transition: 0.7s ease;
	border-radius: 50px;
	border: none;margin: 10px;
	outline:0px none transparent;
}
button:hover{
	transform: scale(1.1);
	background-color:beige;
	color:black
}
hr{
	color:red;
	font-family:bold;
}
.nav-link.active {
    color: red;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
	margin: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 200%;
	text-align: center;
}
.desc{
	text-align:center;
	margin: 50px;
}