.outer{
    height: 680px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jost",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    
}
.ineer{
    background-color: white;
    height: 90%;
    box-shadow:  5px 10px 8px #888888;
    position: relative;

}
header{
    background-color: rgb(251, 253, 101);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    text-align: center;
  
}
.forget{
    /* text-align: end; */
    color: #ff2020;
    cursor: pointer;
}
.footer{
    background-color: rgb(56, 47, 47);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}